target/
project/boot/
project/plugins/project/
project/plugins/target/
project/target/
lib_managed/
src_managed/
.sw?
.*.sw*
.project
.classpath
.cache
.settings/
.target/
tags
*.log
*.sublime-project
*.sublime-workspace
.*.un~
